.kjs-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: auto;
    font-family : Courier New, monospace;
}

.kjs-controls .kjs-zoom-in {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    cursor: grab;
}

.kjs-controls .kjs-zoom-out {
    display: block;
    padding: 5px 10px;
    cursor: grab;
}

.kjs-current-latlng {
    position: absolute;
    bottom: 0px;
    left: 10px;
    pointer-events: auto;
    display: block;
    background-color: rgba(256, 256, 256, 0.7);
    padding: 2px 5px;
    font-size: 10px;
    color: #333;
}

.kjs-copyrighths {
    position: absolute;
    bottom: 0px;
    right: 10px;
    pointer-events: auto;
    display: block;
    background-color: rgba(256, 256, 256, 0.7);
    padding: 2px 5px;
    font-size: 10px;
    color: #333;
}

/*  TILES   */
.kjs-tiles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kjs-tiles-container .kjs-tile {
    position: absolute;
    image-rendering: pixelated;
}
/*  //TILES   */

/*  MARKERS */
.kjs-markers-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.kjs-markers-container .simple-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: grab;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    pointer-events: auto;
}
/*  //MARKERS */
